@media (max-width: 768px) {
    .details {
        color: #fff;
        /* background-color: #3498db;  */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
 
    }
    .det{
        background-image: url('../images/metroView.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
}
@media (min-width: 768px) {
    .details {
        /* background-color: #3498db;  */
        display: flex;
        align-items: center;
    }
    .det{
        background-image: url('../images/metroView.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
}
    
}

.select-container {
    margin-top: 30px;
    
}

.select-container.with-transition {
    animation: slideInFromLeft 1.5s ease-in-out;
}

.select-box {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 3px 4px 0px 1px #E99F4C;
}

.select-box:focus {
    border-color: #00ff6a;
}

.check{
    background-color: #0099ff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: slideInFromLeft 1.5s ease-in-out;
    box-shadow: 3px 4px 0px 1px #E99F4C;
}
.check:hover {
    background-color: #0099ff;
}



.metImg {
    width: 100%;
    height: auto;
    max-width: 500px;
    animation: slideInFromRight 1.5s ease-in-out;
}

.card {
    background-color: #fff; 
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1.2em;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



.trip{
    font-size: 40px;
    font-weight: bold;
}